:root {
  /*https://color.adobe.com/creamy-grey-color-theme-7775*/
}

body {
  background-color: #bfbca5;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3f3e37;
}

form {
  position: relative;
  display: table;
  width: 100%;
}

.link-input-wrapper {
  display: table-cell;
  width: 100%;
  padding-right: 10px;
  vertical-align: middle;
}

input {
  width: 100%;
  margin-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  background-color: #fffbdc;
  outline: none;
}

input:focus {
  border: 1px solid #757d6e;
  box-shadow: 0 0 5px #757d6e;
}

button.btn {
  width: 80px;
  display: table-cell;
  float: right;
  color: #3f3e37;
  background-color: #fffbdc;
}

button.btn:hover {
  background-color: #fffdf1;
  border-color: #7f7d6e;
}

.border {
  border-radius: 4px;
  border: 1px solid #7f7d6e;
}

p {
  text-align: center;
}

section {
  margin-top: 20px;
}

pre {
  background-color: #fffbdc;
  border-radius: 4px;
  border: 1px solid #7f7d6e;
}

#shames code.hljs {
  background-color: #fffbdc;
}
